name: ts

on:
  pull_request:
    branches: [main]
    paths:
      - src/**
      - test/**
      - '*.json'
      - action.yaml
      - .github/workflows/ts.yaml
  push:
    branches: [main]
    paths:
      - src/**
      - test/**
      - '*.json'
      - action.yaml
      - .github/workflows/ts.yaml

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - id: yarn-cache-dir
        run: echo "::set-output name=dir::$(yarn cache dir)"
      - uses: actions/cache@v2
        with:
          path: ${{ steps.yarn-cache-dir.outputs.dir }}
          key: ${{ runner.os }}-yarn-${{ hashFiles('**/yarn.lock') }}
          restore-keys: |
            ${{ runner.os }}-yarn-
      - run: yarn
      - run: yarn lint
      - run: yarn format-check
      - run: yarn test
      - run: yarn build
      - run: yarn package

      - name: release
        if: github.event_name == 'push'
        env:
          LATEST_TAG: v1
        run: |
          set -eux
          test -f dist/index.js
          git add .
          git status
          git config user.name 'github-actions[bot]'
          git config user.email '41898282+github-actions[bot]@users.noreply.github.com'
          git commit -m "Release $LATEST_TAG"
          git tag -f "$LATEST_TAG"
          git push origin -f "$LATEST_TAG"
